@font-face {
	src: url('chrome-extension://keemkifacmkjeminmocpnjcdkhilemgi/font/Ubuntu-M.ttf');
	font-family: "Ubuntu Medium";
}

@font-face {
	src: url('chrome-extension://keemkifacmkjeminmocpnjcdkhilemgi/font/Ubuntu-LI.ttf');
	font-family: "Ubuntu Light Italic";
}

$frame-width: 250px;
$frame-radius: 5px;

$highlight-color: #1DD34B;
$frame-color: rgba(0, 0, 0, 0.7);
$link-text-color: #aaa;
$link-title-color: #fff;
$browser-color: #383838;

$title-bar-height: 30px;
$title-size: 20px;
$link-height: 50px;
$browser-height: 8 * $link-height;
$link-highlight-color: #444;
$link-font-size: 15px;
$link-right-margin: 7px;

#shrub-injection-frame {
	-webkit-font-smoothing: antialiased;
	position: fixed;
	top: 50px;
	left: 50px;
	border-radius: $frame-radius;
	overflow: hidden;
	z-index: -99;
	visibility: hidden;
	width: $frame-width;
	background-color: $frame-color;

	#shrub-title-bar {
		width: 100%;
		height: $title-bar-height;
		color: $highlight-color;
		font-size: $title-size;
		display: flex;
		align-items: center;
		padding: 5px;
		box-sizing: border-box;
		font-family: "Ubuntu Medium";

		h1 {
			font-size: $title-size;
			margin: 0px;
		}
	}

	#shrub-browser {
		width: 100%;
		max-height: $browser-height;
		min-height: $link-height;
		background-color: $browser-color;
		border-radius: $frame-radius;
		overflow: scroll;
		direction: rtl;

		.shrub-browser-link {
			font-family: "Ubuntu Light Italic";
			width: 100%;
			height: $link-height;
			font-size: $link-font-size;
			color: $link-text-color;
			display: flex;
			align-items: center;
			direction: ltr;

			.shrub-browser-link-text {
				margin-right: 10px;
				text-align: right;
				margin-left: auto;

				p:nth-child(1) {
					font-family: "Ubuntu Medium";
					color: $link-title-color;
				}
			}

			&:hover {
				background-color: $link-highlight-color;
				cursor: pointer;
			}
		}
	}

	* {
		padding: 0px;
		margin: 0px;
	}
}
